@import url(https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco);

/* General stylings */
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Verdana;
	cursor: url(pencil.png) 0 25, pointer;
}

/* Draw canvas */
#canvasDiv {
	position: absolute;
	height: 100vh;
	width: 100vw;
	z-index: -10;
}

/* Basic draw tool */
.draw {
	height: 5px; 
	width: 5px; 
	border-radius: 100%;
	background: black; 
	position: absolute;
}

/* Toolbar - General */
#toolbar {
	width: 150px;
	height: 100%;
	position: fixed;
	right: 0;
	border-left: 3px solid black;
	padding: 20px;
	background: #c0d6e4;
	z-index: 100;
}
#toolbar h2 {
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 70px;
	line-height: 100px;
	border-bottom: 2px solid black;
	margin-top: -10px;
	margin-bottom: 20px;
}
#toolbar h4 {
	margin-bottom: 10px;
}
.options {
	margin-bottom: 20px;
}
.shape-palette:hover, .size-palette:hover, .color-palette:hover {
	cursor: pointer;
}
.options .selected {
	border: 2px solid white;
}

/* Toolbar - Shape */
.shape-palette {
	width: 20px;
	height: 20px;
	border: 2px solid #c0d6e4;
	display: inline-block;
	background: black;
}
.circle {
	border-radius: 100%;
}
.square {
	border-radius: 0%;
}

/* Toolbar - Size */
.size-palette {
	width: 20px !important; 
	height: 20px !important;
	border: 2px solid #c0d6e4;
	display: inline-block;
	text-align: center;
	background: #c0d6e4;
}
.small {
	height: 5px; 
	width: 5px; 
}
.medium {
	height: 10px; 
	width: 10px; 
}
.large {
	height: 15px; 
	width: 15px; 
}

/* Toolbar - Color */
.color-palette {
	width: 20px;
	height: 20px;
	border: 2px solid black;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 8px;
}

/* Toolbar - Buttons */
.btn {
	background: #8DA3B1;
	color: #fff;
	font-family: 'Sue Ellen Francisco', cursive;
	font-size: 30px;
	line-height: 30px;
	border: none;
	border-radius: 10px;
	padding: 10px 10px 5px 10px;
	margin-bottom: 10px;
}
.btn:hover {
	cursor: pointer;
	background: #748A98;
}
#stepBack {
	width: 50px;
}
#clear {
	width: 80px;
}
.disabled, .disabled:hover {
	background: #5A707E;
	color: #aaa;
}

/* Color pallete */
#black, .black {
	background: black;
}
#red, .red {
	background: red;
}
#orange, .orange {
	background: orange;
}
#yellow, .yellow {
	background: yellow;
}
#green, .green {
	background: green;
}
#blue, .blue {
	background: blue;
}
#indigo, .indigo {
	background: indigo;
}
#violet, .violet {
	background: violet;
}